<div class="about-zuozhe">
    <div class="zuozhe">
        {{ with .Site.Author.image }}
            <div class="datou">
                <img src="{{ . }}" alt="">
            </div>
        {{ end }}
        <div class="name-jianjie">
            <div class="name">{{ .Site.Author.name }}</div>
            <div class="jianjie">
                {{ .Site.Author.description }}
            </div>
        </div>
    </div>
    <div class="type">
        <a href="/posts" class="wenzhang">
            <p>文章</p>
            <p>{{ len .Site.RegularPages }}</p>
        </a>
        <a href="/categories" class="fenlei">
            <p>分类</p>
            <p>{{ len .Site.Taxonomies.categories }}</p>
        </a>
        <a href="/tags" class="biaoqian">
            <p>标签</p>
            <p>{{ len .Site.Taxonomies.tags }}</p>
        </a>
    </div>
    <a href="{{ .Site.Author.link }}">
        <div class="follow">Follow Me</div>
    </a>
    <div class="link">
        {{ range .Site.Menus.social }}
        <a href="{{ .URL }}" class="link-item is-hidden-desktop" title="{{ .Name }}">
            <span class="icon">{{ .Pre }}</span>
        </a>
        {{ end }}
    </div>
</div>