
<a href="{{ .Permalink }}">
    <div class="list-item">
        <div class="icon-other-root">
            {{ with .Params.image }}
                <div class="icon-other" style="background-image: url( {{ . }} );"></div>
            {{ else }}
                <div class="icon-other" style="background-image: url( {{ .Site.Params.page.postsTopImg }} );"></div>
            {{ end }}
        </div>
        <div class="list-right">
            <div class="other-title">
                {{ .Title }}   
            </div>
            <div class="other-summary">{{ .Summary }}</div>
            <div class="other-date">{{ .PublishDate.Format "2006年1月2日"}}</div>
        </div>
    </div>
</a>