{{ $nowIsDefaultLang := eq .Site.Language.Weight 1 }}
<div class="lang-box-up">
    <div class="lang-box">
        <div class="lang-now">{{ .Language.LanguageName }}</div>
        <div class="wait-lang-box">
            <ul class="lang-up">
                {{ range $.Site.Home.AllTranslations }}
                <li data—permalink="{{ .Permalink }}" class="lang">{{ .Language.LanguageName }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    var nowIsDefaultLang = {{ $nowIsDefaultLang }};
</script>