{{ $enable_mulu := and .Site.Params.Valine.enable (or (eq .Section "about") (eq .Kind "page")) }}
<div class="zhuti-r-0">
    <div class="zhuti-r-1">
        {{ if $enable_mulu }}
            <div class="button-r">
                <button class="button-mulu efct-button" type="button"><span><i class="fa fa-bars"></i></span><span class="bars-text"> {{ i18n "sidebar_content" }}</span></button>
                <button class="button-comment efct-button" type="button"><span><i class="fa fa-comment"></i></span><span class="comment-text"> {{ i18n "sidebar_comment" }}</span></button>
            </div>
        {{ end }}
        <div id="r1">
            {{ partial "widgets/author-card.html" . }}
            {{ partial "widgets/mulu.html" . }}
            {{ partial "widgets/other.html" . }}
        </div>
        <div id="r2">
            {{ if $enable_mulu }}
                {{- partial "comments.html" . -}}
            {{ end }}
        </div> 
    </div>
</div>
