<div class="search-root">
    <div class="search-zz"></div>
    <div class="search">
        
        <div class="sheader anniu">
            <div class="sh-l">
                <input type="text" placeholder="输入关键字" id="search-key">
                <span class="sclear"><i class="fa fa-close"></i></span>
            </div>
            <div class="sh-r">
                <button>搜索</button>
            </div> 
        </div>

        <div class="sbody">
            <div class="sbody-1">
                <div class="stip"></div>
            </div>
            
        </div>
    </div>
</div>