{{ define "main"}}
    <main>
        <div class="circle-404">
            <div class="root-404">
                <div class="c404"></div>
                <div class="titleroot-404">
                    <div class="title-404">4</div>
                    <div class="title-404">4</div>
                </div>
            </div>
        <div class="back">
            <div>{{ i18n "sorry" }}</div>
            <a href='{{ "/" | relURL }}' class="efct-button">{{ i18n "backToHome" }}</a>
        </div>
        </div>
    </main>
{{ end }}