{{ define "main"}}
    <main>
        <div class="circle-404">
            <div class="root-404">
                <div class="c404"></div>
                <div class="titleroot-404">
                    <div class="title-404">4</div>
                    <div class="title-404">4</div>
                </div>
            </div>
        <div class="back">
            <div>抱歉~ ~，页面好像走丢了</div>
            <a href='{{ "/" | relURL }}' class="efct-button">回到主页</a>
        </div>    
        </div>
    </main>
{{ end }}