{{ define "main" }}
{{ partial "widgets/hero.html" . }}
<div class="zhuti-0">
    <div class="container">
        <div class="zhuti">
            <div class="zhuti-l zhuti-l-home">
                <div class="zuixin">
                    <div class="xian-l"></div>
                    <h3>Latest Articles</h3>
                    <div class="xian-r"></div>
                </div>
                <div class="terms-row">
                    {{ range first .Site.Params.page.maxHomePostCount .Site.RegularPages }}
                    <div class="terms-root">
                        {{ partial "widgets/post-card.html" . }}
                    </div>
                    {{ end }}
                </div>
                <div class="more-posts">
                    <a href="/posts" class="efct-button">All Articles</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}