<figure>
    <img data-src="{{ .Get 0 }}" alt="图片加载失败" 
    {{ with (.Get 2) }}
        {{ if eq . "shadow" }}
            class="lazyload has-{{ . }}"
        {{ end }}
    {{ else }}
        {{ with (.Get 1) }}
            {{ if eq . "shadow" }}
                class="lazyload has-{{ . }}"
            {{ else }}
                class="lazyload"
            {{ end }}
        {{ else }}
            class="lazyload"
        {{ end }} 
    {{ end }} >
    {{ with (.Get 1) }}
        {{ if ne . "shadow" }}
            <figcaption>{{ . }}</figcaption>
        {{ end }}
    {{ end }}
</figure>